<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Among Us Crew Tournament Randomiser</title>
  
</head>
<body>
    
 <div class="login">
	<h1>Feed Participant Names</h1>

     <!-- Main Input For Receiving .txt files to our randomizer -->
<form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" multiple></p>
      <p><input type="submit" value="Submit"></p>
    </form>
<button type="submit" class="btn btn-primary btn-block btn-large">Randomise!</button>

</div>


</body>
</html>